/*Style Guide
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.container{
  background-color: hsl(0, 0%, 100%);
}

.title{
color: hsl(218, 44%, 22%);
}

.text{
color: hsl(220, 15%, 55%);
}


.attribution { 
  font-size: 11px; 
  text-align: center;
 }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}