/*Style Guide
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.container{
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 20% 40%;
  font-size: 15px;
}

.image{
  margin: 1rem;
}

img{
  width: 100%;
  margin-top: 1rem;
  border-radius: 15px;
}

.text{
  margin: 1rem;
}

.title{
color: hsl(218, 44%, 22%);
font-weight: 700;
text-align: center;
padding: 0rem 0.75rem;
font-size: 1.2rem;
}

.paragraph{
color: hsl(220, 15%, 55%);
font-weight: 400;
text-align: center;
padding: 0rem 1rem 2rem 1rem;
}


.attribution { 
  font-size: 11px; 
  text-align: center;
 }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}